<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LTIL</title>
    <link rel="stylesheet" href="signupstyle.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.4.0/animate.css">
    <link rel="shortcut icon" href="https://cdn5.vectorstock.com/i/1000x1000/07/64/bank-icon-on-white-background-vector-10090764.jpg">
 
<script>
 
</script>
<body>
    <div class="bg animated flash mt-5 col-12 col-md-4 offset-md-4">
        <div align="center" class="bg-text mt-3">
            LOREM Technical Industrial Limited
        </div>
        <div style="font-style: italic; text-align: center; font-size: 13px; font-weight: bold" class="mb-5">
            ready to serve...
        </div>
            
        <div class="input-group mb-3 animated rollIn">
            <input type="number" class="form-control" readonly name="bvn_num" aria-label="BVN number" aria-describedby="basic-addon2" value= "<%=bvn %>" >
            <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2">BVN</span>
            </div>
        </div>
        <div class="input-group mb-3 animated rollIn">
            <input type="text" class="form-control" readonly name="" aria-label="" aria-describedby="basic-addon2" value= "<%=fn %>" >
            <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2">FIRSTNAME</span>
            </div>
        </div>
        <div class="input-group mb-3 animated rollIn">
            <input type="text" class="form-control" readonly name="" aria-label="" aria-describedby="basic-addon2" value= "<%=mn %>" >
            <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2">MIDDLE NAME</span>
            </div>
        </div>
        <div class="input-group mb-3 animated rollIn">
            <input type="text" class="form-control" readonly name="" aria-label="" aria-describedby="basic-addon2" value= "<%=ln %>" >
            <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2">LAST NAME</span>
            </div>
        </div>
        <div class="input-group mb-3 animated rollIn">
            <input type="text" class="form-control" readonly name="" aria-label="" aria-describedby="basic-addon2" value= "<%=dob %>" >
            <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2">DATE OF BIRTH</span>
            </div>
        </div>
        <div class="input-group mb-3 animated rollIn">
            <input type="text" class="form-control" readonly name="" aria-label="" aria-describedby="basic-addon2" value= "<%=phone %>" >
            <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2">PHONE</span>
            </div>
        </div>

        <div id="bottom">
            Lorem Technical Industrial Limited is a manufacturing company that is ready to give her customer the best wires and cables for an ideal home
         </div>
         <div id="bottom">
             (C) copyright 2019
         </div>
    </div>
</body>
</html>
